<div class="blogItem">
	<div class="col-sm-4">
		<img src="img/23249343-640x487.jpg">
	</div>
	<div class="col-sm-8">
		<div class="pretitle">
			<a href="#" class="categoryLnk">Кейсы</a>
			<span class="pull-right">
				ENG
			</span>
		</div>
		<a href="#">
			<h3>Lorem ipsum dolor sit amet</h3>
		</a>
		<p>
			CPA-сеть 3snet и зажигательная группа CPA.RIP запускает «Арбитражный конкурс мемов»! Условия: На конкурс принимаются новые мемы
		</p>
		<a class="btn showMore">Подробнее</a>
	</div>
</div>