
<footer>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-2">
				<a href="#" class="f-logo">
					<img src="img/3s_logo.png" alt="">
				</a>
				<span class="copy">3SNET LIMITED © 2016-2018г.<br>Все права защищены</span>
			</div>
			<div class="col-xs-12 col-sm-3 col-sm-offset-1">
				<h5>Меню</h5>
				<ul>
					<li><a href="#">Кто мы</a></li>
					<li><a href="">Рекламодатели</a></li>
					<li><a href="">Блог</a></li>
					<li><a href="">Вакансии</a></li>
					<li><a href="">Контакты</a></li>
				</ul>
			</div>
			<div class="col-sm-3">
				<h5>Контакты</h5>
				<div class="c-item">
					<div>Для рекламодателей</div>
					<p>info@3snet.ru</p>
				</div>
				<div class="c-item">
					<div>Для партнёров</div>
					<p>support@3snet.ru</p>
				</div>
			</div>
			<div class="col-sm-3 socialBoxes">
				<div class="row">
					<h5>Мы в соцсетях</h5>
				</div>
				<div class="row socialBoxesWrapper">
					<a href="https://t.me/cpa3snet" target="_blank"><img src="img/if_telegram_3069742.svg" alt=""></a>
					<a href="https://facebook.com/3snetru" target="_blank"><img src="img/logo-facebook.svg" alt=""></a>
					<a href="https://vk.com/3snet" target="_blank"><img src="img/logo-vk.svg" alt=""></a>
					<a href="https://www.linkedin.com/company/3snet" target="_blank"><img src="img/logo-linkedin.svg" alt=""></a>
					<a href="https://www.instagram.com/3snet.ru/" target="_blank"><img src="img/logo-instagram.svg" alt=""></a>
				</div>
			</div>
		</div>
	</div>
</footer>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.formstyler.min.js"></script>
<script src="js/jquery.mousewheel.js"></script>
<script src="js/jquery.jscrollpane.min.js"></script>
<script src="js/jquery.mask.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>